#whiteAnchorPane{
    -fx-background-color: #f4f4f4;
}
#blueAnchorPane {
    -fx-background-color: #0071ac;
}

.button {

    -fx-background-color: #0589ff;

}

.button:hover {
    -fx-background-color: #0a66c2;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}


.text-field {

    -fx-background-color: transparent;
    -fx-border-color: #0a66c2;
    -fx-border-width: 0px 0px 2px 0px;

}



.text-field:hover {

    -fx-translate-x: 7;
}

